<template>
  <div>
    <v-container class="pa-0 mb-sm-10 mb-3" fluid>
      <v-card>
        <v-carousel
          hide-delimiter-background
          :height="$vuetify.breakpoint.mobile ? 300 : 600"
        >
          <v-carousel-item v-for="(item, i) in Array(6)" :key="i">
            <v-img
              gradient="to top right, rgba(128,128,128,0.3), rgba(128,128,128,1)"
              class="white--text text-sm-h4 text-h5"
              width="100%"
              height="100%"
            >
              【２階建てオープンバス】東京さくら回廊
            </v-img>
          </v-carousel-item>
        </v-carousel>
      </v-card>
      <v-container>
        <v-row class="px-sm-16 px-0">
          <v-col v-for="(item, i) in Array(6)" :key="i">
            <v-img
              gradient="to top right, rgba(128,128,128,0.3), rgba(128,128,128,1)"
              class="align-end white--text"
              width="100%"
              aspect-ratio="1.8"
            >
            </v-img>
          </v-col>
        </v-row>
      </v-container>
    </v-container>

    <v-container>
      <v-card>
        <v-card-title
          >設定日：2022.3/19～4/3の毎日ご旅行地：東京都内</v-card-title
        >
        <v-container>
          <v-row>
            <v-col>
              <v-row class="pa-4"
                ><v-col cols="auto">コース番号</v-col> <v-spacer></v-spacer
                ><v-col cols="auto">A1307</v-col>
              </v-row>
            </v-col>
            <v-col>
              <v-row class="pa-4">
                <v-col cols="auto">お食事</v-col> <v-spacer></v-spacer
                ><v-col cols="auto">朝食 － ／昼食 － ／夕食 －</v-col>
              </v-row></v-col
            >
          </v-row>
          <v-row>
            <v-col>
              <v-row class="pa-4"
                ><v-col cols="auto">料金（大人１名）</v-col>
                <v-spacer></v-spacer><v-col cols="auto">2,100円</v-col>
              </v-row>
            </v-col>
            <v-col>
              <v-row class="pa-4">
                <v-col cols="auto">最少運行人数</v-col> <v-spacer></v-spacer
                ><v-col cols="auto">1名様より出発</v-col>
              </v-row></v-col
            >
          </v-row>
          <v-row>
            <v-col>
              <v-row class="pa-4"
                ><v-col cols="auto"> 日程</v-col> <v-spacer></v-spacer
                ><v-col cols="auto"> 東京観光</v-col>
              </v-row>
            </v-col>
            <v-col>
              <v-row class="pa-4">
                <v-col cols="auto"> その他情報</v-col> <v-spacer></v-spacer
                ><v-col cols="auto"></v-col> </v-row
            ></v-col>
          </v-row>
        </v-container>
      </v-card>
    </v-container>

    <v-container>
      <v-card>
        <v-card-title>みどころ</v-card-title>
        <v-card-text>
          ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
        </v-card-text>
      </v-card>
    </v-container>

    <v-container>
      <v-card>
        <v-card-title>行程</v-card-title>
        <v-card-text>
          ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
        </v-card-text>
      </v-card>
    </v-container>

    <v-container>
      <v-card>
        <v-card-title>旅行条件</v-card-title>
        <v-card-text>
          ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
        </v-card-text>
      </v-card>
    </v-container>

    <v-container>
      <v-card>
        <v-card-title>電話でのお問い合わせ </v-card-title>
        <v-card-text>
          ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
        </v-card-text>
      </v-card>
    </v-container>

    <v-container>
      <v-row class="justify-center">
        <v-col cols="auto">
          <form
            name="FRM_HPLINK_DOM_3"
            method="post"
            action="https://hplink.we-can.co.jp/hplink/PR_CHECK"
          >
            <input name="HV_USER_CODE" type="hidden" value="SYMPHONYTOURS" />
            <input name="HV_TOUR_CD" type="hidden" value="NAHA01 " />
            <!-- ※「ツアー検索」画面を使用する場合、「value値」は入れません。（下記） -->
            <input name="HV_TOUR_CD" type="hidden" value="" />
            <input name="HV_S_DEP_FROM" type="hidden" value="070701 " />
            <input name="HV_S_DEP_TO" type="hidden" value="070731 " />
            <input name="HV_PTN_EDA" type="hidden" value="001 " />
            <!-- ※資料請求を行う場合に記述します。 -->
            <input name="HV_PTN_NO" type="hidden" value="P" />
            <v-btn type="submit" x-large color="red" dark rounded
              >空席照会・ご予約へ</v-btn
            >
          </form>
        </v-col>
      </v-row>
    </v-container>

    <!-- onClick="javascript:{document.FRM_HPLINK_DOM_2.submitO;return false -->
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'

@Component
export default class TestWire extends Vue {}
</script>