<template>
  <div>
    <v-h1>お知らせ</v-h1>

    <v-container class="mb-sm-10 mb-3">
      <v-row>
        <v-col>
          <v-h2>お知らせ</v-h2>
        </v-col>
      </v-row>
      <v-row
        v-for="(item, i) in Array(10)"
        :key="i"
        class="mb-5 justify-sm-center justify-start"
      >
        <v-col cols="auto" class="pb-0">
          2022/03/15 <v-chip small>お知らせ</v-chip>
        </v-col>
        <v-col class="col-sm-8 col-12">
          ウェブサイトをリニューアルいたしました。ウェブサイトをリニューアルいたしました。ウェブサイトをリニューアルいたしました。
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<style scoped>
</style>