<template>
  <div>
    <v-img
      src="https://placehold.jp/1264x640.png"
      class="align-center text-center mb-16"
      width="100%"
      :height="$vuetify.breakpoint.mobile ? 200 : 300"
    >
      <h1 class="white--text text-h5"><slot></slot></h1>
    </v-img>
  </div>
</template>

<style scoped>
</style>