// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

// xs	小型から大型のスマホ	< 600px
// sm	小型から中型のタブレット	600px > < 960px
// md	大型タブレットからノートパソコン	960px > < 1264px*
// lg	デスクトップ	1264px > < 1904px*
// xl	4k、ウルトラワイド	> 1904px*

$body-font-family: 'Noto Sans JP', sans-serif;

$container-max-widths: (
    'md': 1100px,
    'lg': 1100px,
    'xl': 1100px,
  // 'lg': 1264px,
  // 'xl': 1264px,
);

$card-text-font-size: 'body-2';
$card-text-font-weight: 300;
$card-text-line-height: 'body-2';