<template>
  <v-app>
    <v-app-bar app flat>
      <v-toolbar-title>
        <nuxt-link
          :to="`/`"
          class="
            font-weight-bold
            black--text
            text-sm-h6 text-body-2 text-decoration-none
          "
          >サンプルサイト</nuxt-link
        >
      </v-toolbar-title>
      <v-spacer />
      <v-btn fab small depressed @click.stop="drawer = !drawer">
        <v-icon v-if="!drawer">mdi-menu</v-icon>
        <v-icon v-if="drawer">mdi-close</v-icon>
      </v-btn>
    </v-app-bar>

    <v-main>
      <Nuxt />
    </v-main>

    <v-footer>
      <br />
      <br />
    </v-footer>

    <v-navigation-drawer
      v-model="drawer"
      width="300"
      fixed
      right
      app
      disable-resize-watcher
    >
      <v-list>
        <v-list-item v-for="(item, i) in menus" :key="i" :to="item.to" exact>
          {{ item.title }}
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
  </v-app>
</template>

<script>
import { Component, Vue } from 'vue-property-decorator'
@Component
export default class Wire extends Vue {
  drawer = false

  menus = [
    { title: 'トップ', to: '/' },
    { title: 'サービス', to: '/service' },
    { title: '会社案内', to: '/company' },
    { title: 'お問い合わせ', to: '/contact' },
    { title: 'お知らせ', to: '/information' },
    { title: 'Sample', to: '/sample' },
  ]
}
</script>

<style lang="scss">
body {
  font-weight: 300;
}
</style>
