<template>
  <div>
    <v-h1>会社案内</v-h1>

    <v-container class="mb-sm-10 mb-3">
      <v-row>
        <v-col class="col-sm-5 col-12">
          <v-img src="https://placehold.jp/640x480.png"></v-img>
        </v-col>
        <v-col class="col-sm-7 col-12">
          <v-card>
            <v-card-title class="mb-4">ご挨拶</v-card-title>
            <v-card-text>
              ごあいさつの内容が入ります。ごあいさつの内容が入ります。ごあいさつの内容が入ります。ごあいさつの内容が入ります。ごあいさつの内容が入ります。ごあいさつの内容が入ります。ごあいさつの内容が入ります。ごあいさつの内容が入ります。ごあいさつの内容が入ります。ごあいさつの内容が入ります。ごあいさつの内容が入ります。ごあいさつの内容が入ります。
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-container>

    <v-container class="mb-sm-10 mb-3">
      <v-row class="flex-row-reverse">
        <v-col class="col-sm-5 col-12">
          <v-img src="https://placehold.jp/640x480.png"></v-img>
        </v-col>
        <v-col class="col-sm-7 col-12">
          <v-card>
            <v-card-title class="mb-4">会社概要</v-card-title>
            <v-card-text>
              <v-row class="mb-4 px-10">
                <v-col sm="4" cols="12" class="pa-0 font-weight-bold">
                  会社名
                </v-col>
                <v-col sm="8" cols="12" class="pa-0">
                  株式会社〇〇〇〇〇〇〇〇
                </v-col>
              </v-row>
              <v-row class="mb-4 px-10">
                <v-col sm="4" cols="12" class="pa-0 font-weight-bold">
                  住所
                </v-col>
                <v-col sm="8" cols="12" class="pa-0">
                  〒901-1304 沖縄県島尻郡与那原町字東浜14－7
                </v-col>
              </v-row>
              <v-row class="mb-4 px-10">
                <v-col sm="4" cols="12" class="pa-0 font-weight-bold">
                  電話番号
                </v-col>
                <v-col sm="8" cols="12" class="pa-0"> 098-988-8008 </v-col>
              </v-row>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-container>

    <v-container class="mb-sm-10 mb-3">
      <v-row class="justify-center">
        <v-col cols="auto">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1789.8086187915164!2d127.76081006719018!3d26.20912679401993!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf0237b048c53d6fb!2z44K544K_44Kk44Or44Km44Kn44OW!5e0!3m2!1sja!2sjp!4v1645436379457!5m2!1sja!2sjp"
            width="1200"
            height="450"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
          ></iframe>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<style lang="scss" scoped>
</style>