<template>
  <div>
    <v-h1>お問い合わせ</v-h1>
    <v-container class="mb-sm-10 mb-3">
      <v-row class="justify-center">
        <v-col class="col-sm-8 col-12">
          <v-h2 class="mb-4">お電話でのお問い合わせ</v-h2>

          <div class="text-h3 text-center mb-10">000-0000-0000</div>
          <p>
            お電話の時間などについて。お電話の時間などについて。お電話の時間などについて。お電話の時間などについて。
          </p>
        </v-col>
      </v-row>
    </v-container>

    <v-container class="mb-sm-10 mb-3">
      <v-row class="justify-center">
        <v-col class="col-sm-8 col-12">
          <v-h2 class="mb-4 justify-center">メールでのお問い合わせ</v-h2>

          <v-text-field label="お名前" outlined></v-text-field>
          <v-text-field label="メールアドレス" outlined></v-text-field>
          <v-text-field label="お電話番号" outlined></v-text-field>
          <v-textarea label="お問い合わせ内容" outlined></v-textarea>

          <v-row class="justify-center">
            <v-col cols="auto"
              ><v-btn color="red" x-large dark>送信</v-btn></v-col
            >
          </v-row>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<style lang="scss" scoped>
</style>