<template>
  <div>
    <div class="pa-0 mb-sm-10 mb-3">
      <v-img
        src="https://placehold.jp/1264x640.png"
        class="align-center text-center white--text text-h4"
        width="100%"
        :height="$vuetify.breakpoint.mobile ? 500 : 600"
      >
        キャッチコピー
      </v-img>
    </div>

    <v-container class="mb-sm-10 mb-3">
      <v-row>
        <v-col>
          <v-h2>見出し</v-h2>
        </v-col>
      </v-row>
      <v-row>
        <v-col class="col-sm-5 col-12">
          <v-img src="https://placehold.jp/640x480.png"></v-img>
        </v-col>
        <v-col class="col-sm-7 col-12">
          <v-card>
            <v-card-title>見出し</v-card-title>
            <v-card-text
              >ダミーテキストですダミーテキストですダミーテキストですダミーテキストですダミーテキストですダミーテキストですダミーテキストですダミーテキストですダミーテキストですダミーテキストですダミーテキストですダミーテキストですダミーテキストです</v-card-text
            >
          </v-card>
        </v-col>
      </v-row>
    </v-container>

    <v-container class="mb-sm-10 mb-3">
      <v-row class="flex-row-reverse">
        <v-col class="col-sm-5 col-12">
          <v-img src="https://placehold.jp/640x480.png"></v-img>
        </v-col>
        <v-col class="col-sm-7 col-12">
          <v-card>
            <v-card-title>見出し</v-card-title>
            <v-card-text
              >ダミーテキストですダミーテキストですダミーテキストですダミーテキストですダミーテキストですダミーテキストですダミーテキストですダミーテキストですダミーテキストですダミーテキストですダミーテキストですダミーテキストですダミーテキストです</v-card-text
            >
          </v-card>
        </v-col>
      </v-row>
    </v-container>

    <v-container class="mb-sm-10 mb-3">
      <v-row>
        <v-col>
          <v-h2>見出し</v-h2>
        </v-col>
      </v-row>
      <v-row>
        <v-col v-for="(item, i) in Array(6)" :key="i" md="3" sm="4" cols="6">
          <v-card to="/service">
            <v-img
              src="https://placehold.jp/480x480.png"
              aspect-ratio="1"
            ></v-img>
            <v-card-title>見出し</v-card-title>
            <v-card-text
              >ダミーテキストですダミーテキストですダミーテキストです</v-card-text
            >
          </v-card>
        </v-col>
      </v-row>
      <v-row class="justify-center">
        <v-col cols="auto">
          <v-btn to="/service" x-large outlined rounded width="150"
            >一覧へ</v-btn
          >
        </v-col>
      </v-row>
    </v-container>

    <v-container class="mb-sm-10 mb-3">
      <v-row>
        <v-col>
          <v-h2>お知らせ</v-h2>
        </v-col>
      </v-row>
      <v-row
        v-for="(item, i) in Array(3)"
        :key="i"
        class="mb-5 justify-sm-center justify-start"
      >
        <v-col cols="auto" class="pb-0">
          2022/03/15 <v-chip small>お知らせ</v-chip>
        </v-col>
        <v-col class="col-sm-8 col-12">
          ウェブサイトをリニューアルいたしました。ウェブサイトをリニューアルいたしました。ウェブサイトをリニューアルいたしました。
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<style lang="scss" scoped>
</style>