<template>
  <div>
    <v-container>
      <v-row>
        <v-col>
          <v-h2>左右カラム</v-h2>
        </v-col>
      </v-row>
      <v-row>
        <v-col class="col-sm-5 col-12">
          <v-img :src="require('~/assets/images/top/sample.jpg')"></v-img>
        </v-col>
        <v-col class="col-sm-7 col-12">
          <v-card>
            <v-card-title>v-colにcol-3などのclassを設定する</v-card-title>
            <v-card-text
              >ダミーテキストですダミーテキストですダミーテキストですダミーテキストですダミーテキストですダミーテキストですダミーテキストですダミーテキストですダミーテキストですダミーテキストですダミーテキストですダミーテキストですダミーテキストです
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-container>

    <v-container>
      <v-row class="flex-row-reverse">
        <v-col class="col-sm-5 col-12">
          <v-img src="https://placehold.jp/640x480.png"></v-img>
        </v-col>
        <v-col class="col-sm-7 col-12">
          <v-card>
            <v-card-title
              >左右逆（v-rowに flex-row-reverse を設定する）</v-card-title
            >
            <v-card-text
              >ダミーテキストですダミーテキストですダミーテキストですダミーテキストですダミーテキストですダミーテキストですダミーテキストですダミーテキストですダミーテキストですダミーテキストですダミーテキストですダミーテキストですダミーテキストです</v-card-text
            >
          </v-card>
        </v-col>
      </v-row>
    </v-container>

    <v-container>
      <v-row>
        <v-col>
          <v-h2>中央寄せのカラムを作りたい</v-h2>
        </v-col>
      </v-row>
      <v-row class="justify-center">
        <v-col class="col-auto">
          <p>
            v-rowに <code>justify-center</code> を設定して、中のカラム（col）に
            <code>col-auto</code> を設定しましょう
          </p>
        </v-col>
      </v-row>
      <v-row class="justify-center" style="background: #efefef">
        <v-col class="col-sm-8 col-12">
          <v-card>
            <v-card-title>中央寄せのカラム</v-card-title>
            <v-card-text
              >ダミーテキストですダミーテキストですダミーテキストですダミーテキストですダミーテキストですダミーテキストですダミーテキストですダミーテキストですダミーテキストですダミーテキストですダミーテキストですダミーテキストですダミーテキストです</v-card-text
            >
          </v-card>
        </v-col>
      </v-row>
    </v-container>

    <v-container>
      <v-row>
        <v-col>
          <v-h2>上下も中央のカラムを作りたい</v-h2>
        </v-col>
      </v-row>
      <v-row class="justify-center">
        <v-col class="col-auto">
          <p>
            v-rowに高さを設定する必要があり、styleで指定します。その上で、v-rowに
          </p>
        </v-col>
      </v-row>
      <v-row
        class="justify-center align-center"
        style="height: 500px; background: #efefef"
      >
        <v-col class="col-sm-7 col-12">
          <v-card>
            <v-card-title
              >v-rowに<code>align-center</code> を使う。</v-card-title
            >
            <v-card-text
              >v-rowにclass <code>justify-center</code>と、
              style属性で高さをつける。
              <code>style="height: 600px"</code>
              を追加する
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-container>

    <v-container class="mb-sm-10 mb-3">
      <v-row>
        <v-col>
          <v-h2>繰り返し</v-h2>
        </v-col>
      </v-row>
      <v-row class="justify-center">
        <v-col class="col-auto"
          >繰り返したい要素に
          <code>v-for="(item, i) in Array(6)" :key="i"</code>
          を追加します。Array(6)の6が繰り返す回数です</v-col
        >
      </v-row>
      <v-row>
        <v-col
          v-for="(item, i) in Array(6)"
          :key="i"
          class="col-md-3 col-sm-4 col-6"
        >
          <v-card to="/service">
            <v-img
              src="https://placehold.jp/480x480.png"
              aspect-ratio="1"
            ></v-img>
            <v-card-title>見出し</v-card-title>
            <v-card-text
              >ダミーテキストですダミーテキストですダミーテキストですダミーテキストですダミーテキストです</v-card-text
            >
          </v-card>
        </v-col>
      </v-row>
      <v-row class="justify-center">
        <v-col class="col-auto">
          <v-btn to="/service" x-large outlined rounded width="150"
            >一覧へ</v-btn
          >
        </v-col>
      </v-row>
    </v-container>

    <v-container>
      <v-row>
        <v-col>
          <v-h2>ちょっとコンテナを狭く使いたい時は</v-h2>
        </v-col>
      </v-row>
      <v-row class="justify-center">
        <v-col class="col-auto"
          >中央寄せのカラムを作って、その中にv-row,v-colを入れ子にしましょう</v-col
        >
      </v-row>
      <v-row class="justify-center">
        <v-col class="col-sm-9 col-12">
          <v-row
            v-for="(item, i) in Array(3)"
            :key="i"
            class="justify-sm-center justify-start mb-5"
          >
            <v-col class="col-sm-3 col-12 pb-0">
              2022/03/15 <v-chip small>お知らせ</v-chip>
            </v-col>
            <v-col class="col-sm-9 col-12">
              ウェブサイトがオープンしましたウェブサイトがオープンしましたウェブサイトがオープンしましたウェブサイトがオープンしましたウェブサイトがオープンしました
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-container>

    <v-container>
      <v-row>
        <v-col>
          <v-h2>画像の呼び出し</v-h2>
        </v-col>
      </v-row>
      <v-row class="justify-center">
        <v-col class="col-auto">
          <p>
            画像は /assets
            フォルダに保存し呼び出しますが、通常のHTMLと同じようには呼び出せません<br />
            template内から呼び出す場合：<code
              >:src="require('~/assets/images/top/sample.jpg')"</code
            >
            <br />
            CSS（style内から呼び出す場合）：<code
              >background: url('~/assets/images/top/sample.jpg');</code
            >
          </p>
          <a href=""></a>
        </v-col>
      </v-row>
      <v-row class="justify-center">
        <v-col class="col-3">
          <p>v-imgを使う</p>
          <v-img :src="require('~/assets/images/top/sample.jpg')"></v-img>
        </v-col>
        <v-col class="col-3">
          <p>CSSでbackgroundから呼び出す時</p>
          <div class="back-sample">hogehoge</div>
        </v-col>
        <v-col class="col-3">
          <p>普通にimgも使えます</p>
          <img width="200" :src="require('~/assets/images/top/sample.jpg')" />
        </v-col>
      </v-row>
    </v-container>

    <v-container>
      <v-row>
        <v-col>
          <v-h2>画像の呼び出し</v-h2>
        </v-col>
      </v-row>
      <v-row class="justify-center">
        <v-col class="col-auto">
          <p>
            画像は /assets
            フォルダに保存し呼び出しますが、通常のHTMLと同じようには呼び出せません<br />
            template内から呼び出す場合：<code
              >:src="require('~/assets/images/top/sample.jpg')"</code
            >
            <br />
            CSS（style内から呼び出す場合）：<code
              >background: url('~/assets/images/top/sample.jpg');</code
            >
          </p>
          <a href=""></a>
        </v-col>
      </v-row>
      <v-row class="justify-center">
        <v-col class="col-3">
          <p>v-imgを使う</p>
          <v-img :src="require('~/assets/images/top/sample.jpg')"></v-img>
        </v-col>
        <v-col class="col-3">
          <p>CSSでbackgroundから呼び出す時</p>
          <div class="back-sample">hogehoge</div>
        </v-col>
        <v-col class="col-3">
          <p>普通にimgも使えます</p>
          <img width="200" :src="require('~/assets/images/top/sample.jpg')" />
        </v-col>
      </v-row>
    </v-container>

    <v-container>
      <v-row>
        <v-col>
          <v-h2>文字サイズ</v-h2>
        </v-col>
      </v-row>
      <v-row class="justify-center">
        <v-col class="col-auto">
          <p>
            divのclassに
            <code>class="text-h1"</code>
            とか<code>class="body-1"</code>とかやると、文字のサイズを自由に設定できます。<br />
            また、colと同様に
            <code>class="text-sm-h3 text-h5"</code>
            のようにすれば、PCとスマホ時に文字の大きさが変えられます<br /><br />
            font-weightや、opacityなども変えられます<br /><br />
            テキストのマニュアルはこちら
            <a
              href="https://vuetifyjs.com/ja/styles/text-and-typography/#typography"
              target="_blank"
              >typography</a
            >
          </p>
        </v-col>
      </v-row>
      <v-row class="justify-center">
        <v-col class="col-3">
          <div class="text-body-1">classにtext-body-1を付けた</div>
        </v-col>
        <v-col class="col-3">
          <div class="text-sm-h3 text-h5">
            classにtext-sm-h3 text-h5を付けた
          </div>
        </v-col>
      </v-row>
    </v-container>

    <v-container>
      <v-row>
        <v-col>
          <v-h2>背景色</v-h2>
        </v-col>
      </v-row>
      <v-row class="justify-center">
        <v-col class="col-auto">
          <p>
            divのclassに
            <code>class="red"</code> とか
            <code>class="purple lighten-5"</code
            >とかやると、背景に色を付けられます。<br />
            使えるカラーはこちら
            <a
              href="https://vuetifyjs.com/ja/styles/colors/#section-30de30c630ea30a230eb30ab30e930fc"
              target="_blank"
              >マテリアルカラーパレット</a
            >
          </p>
        </v-col>
      </v-row>
      <v-row class="justify-center">
        <v-col class="col-3">
          <div class="blue">classにblueを付けた</div>
        </v-col>
        <v-col class="col-3">
          <div class="purple lighten-5">classにpurple lighten-5を付けた</div>
        </v-col>
      </v-row>
    </v-container>

    <v-container>
      <v-row>
        <v-col>
          <v-h2>文字色</v-h2>
        </v-col>
      </v-row>
      <v-row class="justify-center">
        <v-col class="col-auto">
          <p>
            divのclassに
            <code>class="red--text"</code> とか
            <code>class="purple--text text--darken-5"</code
            >とかやると、背景に色を付けられます。<br />
            マニュアルはこちら
            <a
              href="https://vuetifyjs.com/ja/styles/colors/#section-30af30e930b9"
              target="_blank"
              >Colors</a
            >
          </p>
        </v-col>
      </v-row>
      <v-row class="justify-center">
        <v-col class="col-3">
          <div class="red--text">classにblueを付けた</div>
        </v-col>
        <v-col class="col-3">
          <div class="purple--text text--lighten-1">
            classにpurple lighten-1を付けた
          </div>
          <div class="purple--text text--lighten-5">
            classにpurple lighten-5を付けた
          </div>

          <div class="purple--text text--darken-1">
            classにpurple darken-1を付けた
          </div>

          <div class="purple--text text--darken-4">
            classにpurple darken-4を付けた ※darkenは4までしかないらしい
          </div>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<style lang="scss" scoped>
.back-sample {
  background: url('~/assets/images/top/sample.jpg');
  width: 200px;
  height: 100px;
}
</style>