<template>
  <div>
    <v-h1>サービス</v-h1>

    <v-container class="mb-sm-10 mb-3">
      <v-row>
        <v-col>
          <v-h2>見出し</v-h2>
        </v-col>
      </v-row>
      <v-row>
        <v-col class="col-sm-5 col-12">
          <v-img src="https://placehold.jp/640x480.png"></v-img>
        </v-col>
        <v-col class="col-sm-7 col-12">
          <v-card>
            <v-card-title>見出し</v-card-title>
            <v-card-text
              >ダミーテキストですダミーテキストですダミーテキストですダミーテキストですダミーテキストですダミーテキストですダミーテキストですダミーテキストですダミーテキストですダミーテキストですダミーテキストですダミーテキストですダミーテキストです</v-card-text
            >
          </v-card>
        </v-col>
      </v-row>
    </v-container>

    <v-container class="mb-sm-10 mb-3">
      <v-row>
        <v-col>
          <v-h2>見出し</v-h2>
        </v-col>
      </v-row>
      <v-row class="flex-row-reverse">
        <v-col class="col-sm-5 col-12">
          <v-img src="https://placehold.jp/640x480.png"></v-img>
        </v-col>
        <v-col class="col-sm-7 col-12">
          <v-card>
            <v-card-title>見出し</v-card-title>
            <v-card-text
              >ダミーテキストですダミーテキストですダミーテキストですダミーテキストですダミーテキストですダミーテキストですダミーテキストですダミーテキストですダミーテキストですダミーテキストですダミーテキストですダミーテキストですダミーテキストです</v-card-text
            >
          </v-card>
        </v-col>
      </v-row>
    </v-container>

    <v-container class="mb-sm-10 mb-3">
      <v-row>
        <v-col>
          <v-h2>見出し</v-h2>
        </v-col>
      </v-row>
      <v-row>
        <v-col class="col-sm-5 col-12">
          <v-img src="https://placehold.jp/640x480.png"></v-img>
        </v-col>
        <v-col class="col-sm-7 col-12">
          <v-card>
            <v-card-title>見出し</v-card-title>
            <v-card-text
              >ダミーテキストですダミーテキストですダミーテキストですダミーテキストですダミーテキストですダミーテキストですダミーテキストですダミーテキストですダミーテキストですダミーテキストですダミーテキストですダミーテキストですダミーテキストです</v-card-text
            >
          </v-card>
        </v-col>
      </v-row>
    </v-container>

    <v-container class="mb-sm-10 mb-3">
      <v-row>
        <v-col>
          <v-h2>見出し</v-h2>
        </v-col>
      </v-row>
      <v-row class="flex-row-reverse">
        <v-col class="col-sm-5 col-12">
          <v-img src="https://placehold.jp/640x480.png"></v-img>
        </v-col>
        <v-col class="col-sm-7 col-12">
          <v-card>
            <v-card-title>見出し</v-card-title>
            <v-card-text
              >ダミーテキストですダミーテキストですダミーテキストですダミーテキストですダミーテキストですダミーテキストですダミーテキストですダミーテキストですダミーテキストですダミーテキストですダミーテキストですダミーテキストですダミーテキストです</v-card-text
            >
          </v-card>
        </v-col>
      </v-row>
    </v-container>

    <v-container class="mb-sm-10 mb-3">
      <v-row>
        <v-col>
          <v-h2>見出し</v-h2>
        </v-col>
      </v-row>
      <v-row>
        <v-col class="col-sm-5 col-12">
          <v-img src="https://placehold.jp/640x480.png"></v-img>
        </v-col>
        <v-col class="col-sm-7 col-12">
          <v-card>
            <v-card-title>見出し</v-card-title>
            <v-card-text
              >ダミーテキストですダミーテキストですダミーテキストですダミーテキストですダミーテキストですダミーテキストですダミーテキストですダミーテキストですダミーテキストですダミーテキストですダミーテキストですダミーテキストですダミーテキストです</v-card-text
            >
          </v-card>
        </v-col>
      </v-row>
    </v-container>

    <v-container class="mb-sm-10 mb-3">
      <v-row>
        <v-col>
          <v-h2>見出し</v-h2>
        </v-col>
      </v-row>
      <v-row class="flex-row-reverse">
        <v-col class="col-sm-5 col-12">
          <v-img src="https://placehold.jp/640x480.png"></v-img>
        </v-col>
        <v-col class="col-sm-7 col-12">
          <v-card>
            <v-card-title>見出し</v-card-title>
            <v-card-text
              >ダミーテキストですダミーテキストですダミーテキストですダミーテキストですダミーテキストですダミーテキストですダミーテキストですダミーテキストですダミーテキストですダミーテキストですダミーテキストですダミーテキストですダミーテキストです</v-card-text
            >
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<style lang="scss" scoped>
</style>